{{- $authors := slice -}}
{{- if .Params.author -}}
  {{- if reflect.IsSlice .Params.author -}}
    {{- range .Params.author -}}
      {{- $name := . | markdownify | plainify | htmlUnescape -}}
      {{- $url := "" -}}
      {{- with findRE `href="([^"]+)"` (. | markdownify) -}}
        {{- $url = replaceRE `href="([^"]+)"` "$1" (index . 0) -}}
      {{- end -}}
      {{- $authors = $authors | append (dict "name" $name "url" $url) -}}
    {{- end -}}
  {{- else -}}
    {{- $name := .Params.author | markdownify | plainify | htmlUnescape -}}
    {{- $url := "" -}}
    {{- with findRE `href="([^"]+)"` (.Params.author | markdownify) -}}
      {{- $url = replaceRE `href="([^"]+)"` "$1" (index . 0) -}}
    {{- end -}}
    {{- $authors = $authors | append (dict "name" $name "url" $url) -}}
  {{- end -}}
{{- else if .Site.Params.author.name -}}
  {{- $url := .Site.Params.author.website | default "" -}}
  {{- $authors = $authors | append (dict "name" (.Site.Params.author.name | markdownify | plainify | htmlUnescape) "url" $url) -}}
{{- end -}}
{{- return $authors -}}
