<article class="post-preview">
    <a href="{{ .RelPermalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
        {{ if .Params.image }}
        <img src="{{ strings.TrimPrefix "/" .Params.image | relURL }}" alt="{{ .Title }}" class="img-title" />
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ strings.TrimPrefix "/" .Params.video | relURL }}">
        </video>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ if or (.Truncated) (.Params.summary) (eq .Type "recipe") }}
        {{ .Summary }}
        <a href="{{ .RelPermalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>

    {{ if or .Params.categories .Params.tags }}
    <div class="blog-tags">
        {{ if .Params.categories }}
        <span class="blog-tags-label">{{ i18n "categoriesLabel" }}</span>
        {{ range .Params.categories }}
        {{- $catName := . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" ($catName | urlize)) -}}
        <a href="{{ .RelPermalink }}" class="blog-tags-category">{{ $catName }}</a>&nbsp;
        {{- end -}}
        {{ end }}
        {{ end }}
        {{ if .Params.tags }}
        <span class="blog-tags-label">Tags: </span>
        {{ range .Params.tags }}
        {{- $tagName := . -}}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" ($tagName | urlize)) -}}
        <a href="{{ .RelPermalink }}">{{ $tagName }}</a>&nbsp;
        {{- end -}}
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

</article>
