{{ $mathEngine := $.Param "mathEngine" | default "katex" }}
{{- if .Site.Params.selfHosted -}}
{{- if eq $mathEngine "katex" }}
<script defer src="{{ "js/katex.min.js" | relURL }}"></script>
<script defer src="{{ "js/auto-render.min.js" | relURL }}" onload="renderMathInElement(document.body);"></script>
{{- else if eq $mathEngine "mathjax" }}
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml.min.js" crossorigin="anonymous"></script>
{{- end }}
<script src="{{ "js/jquery-4.0.0.slim.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
{{- else -}}
{{- if eq $mathEngine "katex" }}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.js" integrity="sha384-Tt7wBxLKwSzFVRET4O4U9H6v8MNaQ/CjN2FMP4xFm0ErrFu6aNqoonRVW5W40iGI" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
{{- else if eq $mathEngine "mathjax" }}
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml.min.js" crossorigin="anonymous"></script>
{{- end }}
<script src="https://code.jquery.com/jquery-4.0.0.slim.min.js" integrity="sha384-tcspKDb5tWvyRCOWzevlAeQgHeEzYdUHJpcgnIhcP9w4CnfD7DLAcS+k9QzLbRJO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{{- end }}

<script src="{{ "js/main.js" | relURL }}"></script>
{{- if ne ($.Param "toc") false -}}
<script src="{{ "js/toc.js" | relURL }}"></script>
{{- end -}}
{{- if .Site.Params.staticman }}
<script src="{{ "js/staticman.js" | relURL }}"></script>
{{- end }}
{{- if $.Param "useHLJS" }}
{{- if .Site.Params.selfHosted -}}
<script src="{{ "js/highlight.min.js" | relURL }}"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js" integrity="sha384-RH2xi4eIQ/gjtbs9fUXM68sLSi99C7ZWBRX1vDrVv6GQXRibxXLbwO2NGZB74MbU" crossorigin="anonymous"></script>
{{- end -}}
<script> hljs.highlightAll(); </script>
<script> $(document).ready(function() {$("pre.chroma").css("padding","0");}); </script>
{{- end -}}

{{- if .Site.Params.selfHosted -}}
<script src="{{ "js/photoswipe.umd.min.js" | relURL }}"></script>
<script src="{{ "js/photoswipe-lightbox.umd.min.js" | relURL }}"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/umd/photoswipe.umd.min.js" integrity="sha384-k8EKyYcONphQ7zH4cQ0888JapXwrLTXQl/Ue1/jYgjVYahln1NWpnt2S4IC56LNh" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/umd/photoswipe-lightbox.umd.min.js" integrity="sha384-IiBVbUz6+U+Tbm/ijO2P0XRwcVzNfrMzloNLkrqHkbi6w5H0v6ie4fI9BIO4SwdK" crossorigin="anonymous"></script>
{{- end -}}
<script src="{{ "js/load-photoswipe.js" | relURL }}"></script>

{{ if eq (partial "search-provider.html" .) "fuse" }}
{{- if .Site.Params.selfHosted }}
<script src="{{ "js/fuse.js" | relURL }}"></script>
{{- else }}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0/dist/fuse.min.js" integrity="sha384-PCSoOZTpbkikBEtd/+uV3WNdc676i9KUf01KOA8CnJotvlx8rRrETbDuwdjqTYvt" crossorigin="anonymous"></script>
{{- end }}
<script src="{{ "js/search-fuse.js" | relURL }}"></script>
{{ end }}

{{ if .Site.Params.gcse }}
<script>
  (function() {
    var cx = '{{ .Site.Params.gcse }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{{ end }}

{{ if .Site.Params.piwik }}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{ .Site.Params.piwik.server }}/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "{{ .Site.Params.piwik.id }}"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<img src="https://{{ .Site.Params.piwik.server }}/piwik.php?idsite={{ .Site.Params.piwik.id }}&amp;rec=1" style="border:0" alt="" />
</noscript>
{{ end }}


{{ if and .Site.Params.delayDisqus .Site.Config.Services.Disqus.Shortname }}
<script type="text/javascript">
$(function(){
  $('#show-comments').on('click', function(){
    var disqus_shortname = '{{ .Site.Config.Services.Disqus.Shortname }}';
      
    (function() {
      var disqus = document.createElement('script'); 
      disqus.type = 'text/javascript'; 
      disqus.async = true;
      disqus.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(disqus);
    })();
      
    $(this).hide();
    });
  });

</script>
<script id="dsq-count-scr" src="//{{ .Site.Config.Services.Disqus.Shortname }}.disqus.com/count.js" async></script>
{{ end }}

{{ partial "scripts_custom.html" . }}
