<!-- Social Share Button HTML -->
<div class="share-box" role="region">
    <ul class="share" aria-label="Social sharing" role="list">
      <!-- Twitter -->
      <li role="listitem">
        <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}{{ with .Site.Params.author.twitter }}&amp;via={{ . }}{{ end }}" target="_blank" rel="noopener noreferrer" title="Share on Twitter">
          <i class="fab fa-twitter" aria-hidden="true"></i>
          <span class="visually-hidden">Share on Twitter</span>
        </a>
      </li>

      <!-- Facebook -->
      <li role="listitem">
        <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer" title="Share on Facebook">
          <i class="fab fa-facebook" aria-hidden="true"></i>
          <span class="visually-hidden">Share on Facebook</span>
        </a>
      </li>

      <!-- Reddit -->
      <li role="listitem">
        <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener noreferrer" title="Share on Reddit">
          <i class="fab fa-reddit" aria-hidden="true"></i>
          <span class="visually-hidden">Share on Reddit</span>
        </a>
      </li>

      <!-- LinkedIn -->
      <li role="listitem">
        <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn">
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          <span class="visually-hidden">Share on LinkedIn</span>
        </a>
      </li>

      <!-- Pinterest -->
      <li role="listitem">
        <a href="//www.pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Title }}" target="_blank" rel="noopener noreferrer" title="Share on Pinterest">
          <i class="fab fa-pinterest" aria-hidden="true"></i>
          <span class="visually-hidden">Share on Pinterest</span>
        </a>
      </li>

      <!-- Email -->
      <li role="listitem">
        <a href="mailto:?body={{ .Permalink }}&amp;subject={{ .Title }}" title="Share via email">
          <i class="fas fa-at" aria-hidden="true"></i>
          <span class="visually-hidden">Share via email</span>
        </a>
      </li>
    </ul>
  </div>
