{{- $r := .Params.recipe -}}
{{- if not $r }}{{ errorf "seo/structured/recipe.html partial called on a page with no .Params.recipe: %s" (or .File.Path .Path) }}{{ end -}}

{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description | plainify | htmlUnescape -}}
{{- else -}}
  {{- $description = .Summary | plainify | htmlUnescape -}}
{{- end -}}

{{- $keywords := slice -}}
{{- range .Params.tags -}}
  {{- $keywords = $keywords | append . -}}
{{- end -}}

{{- $ingredients := slice -}}
{{- range $r.ingredients -}}
  {{- $ingredients = $ingredients | append (. | plainify | htmlUnescape) -}}
{{- end -}}

{{- $instructions := slice -}}
{{- range $i, $step := $r.instructions -}}
  {{- $s := dict "@type" "HowToStep" "position" (add $i 1) -}}
  {{- if reflect.IsMap $step -}}
    {{- with $step.text }}{{ $s = merge $s (dict "text" (. | plainify | htmlUnescape)) }}{{ end -}}
    {{- with $step.name }}{{ $s = merge $s (dict "name" .) }}{{ end -}}
    {{- with $step.url }}{{ $s = merge $s (dict "url" (. | absURL)) }}{{ end -}}
    {{- with $step.image }}{{ $s = merge $s (dict "image" (. | absURL)) }}{{ end -}}
  {{- else -}}
    {{- $s = merge $s (dict "text" ($step | plainify | htmlUnescape)) -}}
  {{- end -}}
  {{- $instructions = $instructions | append $s -}}
{{- end -}}

{{- $authorData := partial "seo/structured/author-schema.html" . -}}
{{- $authorSchema := $authorData.schema -}}
{{- $authorIds := $authorData.ids -}}

{{- $schema := dict
  "@type" (slice "Article" "Recipe")
  "@id" (printf "%s#recipe" .Permalink)
  "mainEntityOfPage" (dict "@id" (print .Permalink "#webpage"))
  "author" $authorIds
  "headline" .Title
  "description" $description
  "inLanguage" .Lang
  "wordCount" .WordCount
  "dateCreated" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
  "keywords" $keywords
  "publisher" (dict "@id" (print .Site.BaseURL "#organization"))
  "name" .Title
  "recipeIngredient" $ingredients
  "recipeInstructions" $instructions
-}}

{{- with $r.prepTime }}{{ $schema = merge $schema (dict "prepTime" .) }}{{ end -}}
{{- with $r.cookTime }}{{ $schema = merge $schema (dict "cookTime" .) }}{{ end -}}
{{- with $r.totalTime }}{{ $schema = merge $schema (dict "totalTime" .) }}{{ end -}}
{{- with $r.yield }}{{ $schema = merge $schema (dict "recipeYield" .) }}{{ end -}}
{{- with $r.category }}{{ $schema = merge $schema (dict "recipeCategory" .) }}{{ end -}}
{{- with $r.cuisine }}{{ $schema = merge $schema (dict "recipeCuisine" .) }}{{ end -}}
{{- with $r.calories }}{{ $schema = merge $schema (dict "nutrition" (dict "@type" "NutritionInformation" "calories" .)) }}{{ end -}}

{{- if gt .ReadingTime 5 -}}
  {{- $schema = merge $schema (dict "timeRequired" (printf "PT%dM" .ReadingTime)) -}}
{{- end -}}

{{- $image := "" -}}
{{- with .Params.share_img }}{{ $image = . }}{{ else with .Params.image }}{{ $image = . }}{{ else with .Site.Params.logo }}{{ $image = . }}{{ end -}}
{{- with $image }}{{ $schema = merge $schema (dict "image" (absURL (strings.TrimPrefix "/" .))) }}{{ end -}}

{{- return ($authorSchema | append $schema) }}
