{{ define "main" }}
<div class="projects-container">
  <aside class="sidebar">
    {{ partial "project-sidebar.html" . }}
  </aside>
  <section class="main-content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ if .Paginator }}
    <ul>
      {{ range .Paginator.Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ else }}
    {{ if .Pages }}
    <ul>
      {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </section>
</div>
{{ end }}