{{ define "main" }}
  <div class="container{{ if .Params.fullWidth }}-fluid{{ end }}" role="main">
    <div class="row">
      <div class="{{ cond .Params.fullWidth "col-12" "col-md-10 offset-md-1" }}">
        {{ with .Content }}
          <div class="content-section">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ $pag := .Paginate (partial "func/list-pages.html" .) }}
          {{ range $pag.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ partial "paginator.html" . }}
      </div>
    </div>
    {{ partial "toc.html" . }}
  </div>
{{ end }}
