{{ define "main" }}
<div class="posts-container">
  <aside class="sidebar">
    {{ partial "blog-sidebar.html" . }}
  </aside>
  <section class="main-content">
    <article>
      <h1>{{ .Title }}</h1>
      <div class="meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if .Params.tags }}
        <span class="tags">
          {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
      </div>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  </section>
</div>
{{ end }}
